body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #00bfff;
  margin-bottom: 20px;
}

.converter {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 10px;
}

input,
select,
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #fff;
  color: #333;
}

select {
  background-color: #fff;
  color: #333;
}

button {
  background-color: #00bfff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0080ff;
}

#error {
  color: red;
}

#resultado {
  color: #00ff00;
}
